.coloration-back-6 {
  background-color: #ddadab;
}

.main-contact {
  position: relative;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}
.contact {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #fcf6f0;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.cadre-contact {
  padding-left: 15px;
  width: 100px;
  height: 30px;
  box-shadow: -2px 2px 1px -1px black;
}
.contact:hover {
  color: #fcf6f0;
  text-shadow: 5px 8px #fcf6f082;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition-duration: 1s;
}
.contact-lign {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.fas {
  position: relative;
  font-size: 30px;
}

.fab {
  position: relative;
  font-size: 30px;
}

.contact-lign > p {
  position: relative;
  padding-left: 30px;
  top: 15px;
}

/* logo Linkedin */
.logo-raognage-linkedin {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.fa-linkedin-in {
    width: 148%;
    position: absolute;
    left: 17%;
    top: 13%;
}
/* logo Github*/
.logo-raognage-github {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
      border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.fa-github {
    width: 148%;
    position: absolute;
    left: 17%;
    top: 13%;
}
/* logo Loc*/
.logo-raognage-loc {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
      border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.fa-map-pin {
    width: 148%;
    position: absolute;
    left: 30%;
    top: 13%;
}
/* logo Tel*/
.logo-raognage-tel {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
      border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.fa-mobile-alt {
    width: 148%;
    position: absolute;
    left: 30%;
    top: 13%;
}
/* logo Mail*/
.logo-raognage-mail {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
      border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.fa-at {
    width: 148%;
    position: absolute;
    left: 15%;
    top: 13%;
}

.logo-link-text{
  padding-right: 10px;
  padding-bottom: 10px;
  color: #212529;
  text-decoration:none !important;
  box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
}
.logo-link-text:hover {
  color: #212529;
  text-decoration:none !important;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition-duration: 1s;
}
