.coloration-back-3 {
  background-color:#858181;
}

.main-proj {
  margin-top: 18px;
}
.cadre-project {
  padding-left: 15px;
  width: 100px;
  height: 30px;
  box-shadow: -2px 2px 1px -1px black;
}
.wagon-project {
  padding-top: 80px;
  position: relative;
  color: #fcf6f0;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
@media (min-width:770px){
  .wagon-project {
    font-size: 50px;
  }
}
@media (max-width: 769px){
  .wagon-project {
    font-size: 40px;
  }
}

.card-video {

  padding-bottom: 50px;
  position: relative;
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  border-radius: 2px !important;
  max-width: 600px;
  /* margin-right: 8px; */
  background-color: #fcf6f0 !important;
}

h3 {
  color: #f2eae3;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0px 50px 50px 50px;
  font-size: 40px;
}

.wagon-project:hover {
  color: #fcf6f0;
  text-shadow: 5px 8px #fcf6f082;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition-duration: 1s;
}

.in-card {
  border-radius: 2px !important;
  position: relative;
  padding: 50px;
  background-color: #fcf6f0;
}
.site-friendstrip h4 {
  padding-bottom: 30px;
}
.in-card h4 {
  padding-bottom: 30px;
}

u {
  margin-left: 16px;
}

ul li {
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 24px;
}

.carousel {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #fcf6f082;
}
.d-block{
  border-radius: 10px;
}

.chevron-color {
  filter: invert(100%);
}
.site-friendstrip {
  color: #186F70;
  margin-top: 24px;
  padding: 24px;
  text-decoration: none !important;
  display: flex;
  justify-content: space-evenly;
}
.site-friendstrip:hover {
  color: #FE6625;
}

.card-2 {
  max-width: 600px;
  background-color: #fcf6f0;
  border-radius: 2px !important;
}
@media (max-width: 1400px){
  .card-2 {
    margin-top: 8px;
  }
}
.card-2-in {
  position: relative;
  padding: 50px;
}
.img-pres {
  position: relative;

}
.img-pres img {
  border-radius: 2px;
  margin: 50px 12px 10px -22px;
  width: 106%;
  height: 100%;
  left: 0;
  border: solid #f9efe6;
  border-width: 19px 48px 29px 23px;
  background-color: #f9efe6;
  background: center / contain no-repeat url(../../images/pres.jpeg);
}
.img-pres img:hover {
  border-radius: 2px;
  margin: 119px 95px 7px 95px;
  transition: margin 1s;
  border-width: 19px 48px 29px 23px;
  filter: brightness(90%);
}
.demo-day-link {
  color: #186F70 !important;
  text-decoration: none !important;
}
.demo-day-link:hover {
  position: relative;
  color: #FE6625 !important;
  text-decoration: none !important;
}
