.nav-tableau {
  padding-left: 30px;
  height: 100px;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.page-title {
  font-weight: 600;
  font-size: 35px;
  margin: 0 0 15px 0;
}

.page-info {
  font-size: 22px;
}

.AIFR-coloration-back {
  font-family: "Poppins", sans-serif;
}
.AIFR-main {
  margin: auto;
  width: 80%;
  display: flex;
}

.AIFR-paintings-of-plane {
  height: 800px;
  border-radius: 10px;
}

.AIFR-infos {
  margin-left: 20px;
}
.AIFR-text {
  color: black;
}
