.coloration-back-2B {
  background-color: #96676e;
}
.main-listin {
  position: relative;
  margin-top: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.cadre-listin {
  padding-left: 15px;
  width: 100px;
  height: 30px;
  box-shadow: -2px 2px 1px -1px black;
}

.listin-app {
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  color: #fcf6f0;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.listin-app:hover {
  color: #fcf6f0;
  text-shadow: 5px 8px #fcf6f082;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition-duration: 1s;
}

.main-listin img {
  border-radius: 2px 2px 0px 0px;
  width: 100%;
}
.card-listin-all {
  padding-bottom: 50px;
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
}

.in-card-listin h4 {
  padding-bottom: 30px;
}
.in-card-listin {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 2px 2px !important;
  padding: 80px 50px 50px 50px;
  background-color: #ffebe0;
}

.listin-description {
  border-radius: 2px !important;
  width: 100%;
  background-color: #fcf6f0 !important;
}

.in-card-listin-2 {
  border-radius: 2px !important;
  padding: 10px 50px;
  background-color: #fcf6f0;
}

img,
svg {
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 1400px) {
  .listin-illustrations {
    margin-top: 8px;
  }
}
.site-listin {
  color: #781b3c;
  text-decoration: none;
}
.site-listin h4 {
  padding-bottom: 30px;
}
.site-listin:hover {
  text-decoration: none !important;
  color: #f015cb !important;
}

.listin {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
