.nav-tableau {
  padding-left: 30px;
  height: 100px;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.page-title {
  font-weight: 600;
  font-size: 35px;
  margin: 0 0 15px 0;
}

.page-info {
  font-size: 22px;
  max-width: 400px;
}

.page-painting {
  font-family: "Poppins", sans-serif;
}

.painting-infos {
  margin-left: 20px;
  margin-bottom: 30px;
}
.painting-text {
  margin-left: 20px;
  color: black;
}
.prix {
  margin: 0;
}

.painting-main {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.AIFR,
.DMTM,
.LLAM,
.HHNA,
.BSBR,
.DECH,
.JRDE,
.MIEC,
.ASB6,
.LRUI,
.LSUI,
.LMUI,
.TSDR,
.ISWY,
.LAGT,
.DVAV {
  max-height: 800px;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  margin-bottom: 20px;
}

.VIDE,
.ELEC,
.FLCN,
.SEPT,
.LPRN,
.P365,
.PTDJ,
.GLHO {
  max-height: 500px;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  margin-bottom: 20px;
}

.LMDM {
  max-height: 200px;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  margin-bottom: 20px;
}

.SCOL {
  max-height: 850px;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  margin-bottom: 20px;
}
