<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon" />
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Glory Hole</title>
    <!-- google analytics -->
    G-Y43SCZK332
  </head>
  <body class="page-painting">
    <nav class="nav-tableau">
      <div class="menu-back">
        <a class="btn-back float" href="../index.html#paintings-GLHO"
          ><i class="fas fa-arrow-left"></i
        ></a>
      </div>
    </nav>
    <main class="painting-main">
      <div >
        <img
          src="../images/paints/28 glory hole.jpg"
          alt="legs and baskets"
          class="portrait"
        />
      </div>
      <div class="painting-infos">
        <div class="painting-text">
          <h4 class="page-title">Glory Hole</h1>
            <h2 class="prix">250 €</h2>
          <p class="page-info">Clotilde Lacaille<br/><br/>59,5 X 40 cm <br/>14/11/2021<br />Acrylique sur bois.</p>
        </div>
      </div>
    </main>
  </body>
</html>
