<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon" />
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Le mariage d'une indienne</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y43SCZK332"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y43SCZK332');
</script>
  </head>
  <body class="page-painting">
    <nav class="nav-tableau">
      <div class="logo-rognage-back">
        <div class="menu-back">
          <a class="btn-back float" href="../index.html#paintings-LMUI"
            ><i class="fas fa-arrow-left"></i
          ></a>
        </div>
      </div>
    </nav>
    <main class="painting-main">
      <div >
        <img
          src="../images/paints/19 le mariage d'une indienne 60X80 copie.jpg"
          alt="indian woman"
          class="portrait"
        />
      </div>
      <div class="painting-infos">
        <div class="painting-text">
          <h4 class="page-title">Le mariage d'une indienne</h1>
            <h2 class="prix">100 €</h2>
          <p class="page-info">Clotilde Lacaille<br/><br/>80 X 60 cm <br/>10/12/2020<br/>Photoshop et impression poster sur papier couché mat 150gr.</p>
        </div>
      </div>
    </main>
  </body>
</html>
