<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon" />
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>La petite robe noir</title>
    <!-- google analytics -->
    G-Y43SCZK332
  </head>
  <body class="page-painting">
    <nav class="nav-tableau">
      <div class="logo-rognage-back">
        <div class="menu-back">
          <a class="btn-back float" href="../index.html#paintings-LPRN"
            ><i class="fas fa-arrow-left"></i
          ></a>
        </div>
      </div>
    </nav>
    <main class="painting-main">
      <div >
        <img
          src="../images/paints/18 la petite robe noir.png"
          alt="black and white eye"
          class="paysage"
        />
      </div>
      <div class="painting-infos">
        <div class="painting-text">
          <h4 class="page-title">La petite robe noir</h1>
          <p class="page-info">Clotilde Lacaille<br/><br/>53 X 50 cm <br/>30/09/2018<br />Acrylique sur aggloméré de bois.</p>
        </div>
      </div>
    </main>
  </body>
</html>
