<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon" />
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Miroir éclaté</title>
  </head>
  <body class="page-painting">
    <nav class="nav-tableau">
      <div class="logo-rognage-back">
        <div class="menu-back">
          <a class="btn-back float" href="../index.html#paintings-MIEC"
            ><i class="fas fa-arrow-left"></i
          ></a>
        </div>
      </div>
    </nav>
    <main class="painting-main">
      <div >
        <img
          src="../images/paints/MIEC.png"
          alt="mirror in 3 parts"
          class="portrait"
        />
      </div>
      <div class="painting-infos">
        <div class="painting-text">
          <h4 class="page-title">Miroir éclaté</h1>
            <h2 class="prix">300 €</h2>
          <p class="page-info">Clotilde Lacaille<br/><br/>(haut) 14 X 21 cm<br/>(gauche) 24,5 X 14,5 cm<br/>(droite) 25 X 14,5 cm <br/>04/12/2020<br />Acrylique sur planches en bois.</p>
        </div>
      </div>
    </main>
  </body>
</html>
