<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/icone.png" type="image/x-icon" />
    <link href="../stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Porsch 365</title>
  </head>
  <body class="page-painting">
    <nav class="nav-tableau">
      <div class="menu-back">
        <a class="btn-back float" href="../index.html#paintings-P365"
          ><i class="fas fa-arrow-left"></i
        ></a>
      </div>
    </nav>
    <main class="painting-main">
      <div >
        <img
          src="../images/paints/P365.png"
          alt="Porsch 365"
          class="paysage"
        />
      </div>
      <div class="painting-infos">
        <div class="painting-text">
          <h4 class="page-title">Porsch 365</h1>
          <p class="page-info">Clotilde Lacaille<br/><br/>44 X 50 cm <br/>15/03/2020<br />Acrylique sur aggloméré de bois.</p>
        </div>
      </div>
    </main>
  </body>
</html>
