.coloration-back-3 {
  background-color:#858181;
  margin-top: 5px;
}

.main-proj {
  margin-top: 18px;
}

.card-video {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content:  space-between;
}

.card {
  max-width: 600px;
  margin-right: 8px;
  background-color: #fcf6f0;
  border-radius: 0px !important;
}
.card-2 {
  position: relative;
    width: 50%;
    padding-bottom: 60%;
    float: left;
    height: 0;
  /* vertical-align: middle;
  justify-content: center; */

    /* padding-left: 16px; */
    /* width: 50%; */

  /* padding: 50px;
  margin-left: 6px; */

    /* width: 630px; */
    /* height: 739px; */

  /* width: 50%; */
  background-color: #fcf6f0;
}

.img-pres {
  margin: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  /* width: 600px;
  height: 680px; */
  background: center / contain no-repeat url(../../images/pres.jpeg);
}


.wagon-project {
  position: relative;
  padding-top: 80px;
  color: #fcf6f0;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
}
h3 {
  color: #f2eae3;
  /* text-shadow: 1px 1px #fcf6f082; */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 50px;
  font-size: 40px;
}

.wagon-project:hover {
  color: #fcf6f0;
  text-shadow: 5px 8px #fcf6f082;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition-duration: 1s;
}
.projet-title {
  padding-left: 15px;
  width: 100px;
  height: 30px;
}
@media (min-width:559px){
  .projet-title {
    box-shadow: -2px 2px 1px -1px black;
  }
}
@media (max-width: 558px){
  .projet-title {
    box-shadow: -2px 0px 1px -1px black;
  }
}

.in-card {
  position: relative;
  padding: 50px;
  text-align: center;
    background-color: #fcf6f0;
}
h4 {
  padding-bottom: 30px;
}
ul {
  margin-left: 5%;
  text-align: left;
  padding-bottom: 30px;
}

ul li {
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 24px;
}

.carousel {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #fcf6f082;
}
.d-block{
  border-radius: 10px;
}

.site-friendstrip {
  padding: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.chevron-color {
  filter: invert(100%);
}

