.skills {
  color: #222B56;
  text-shadow: 2px 2px #D69510;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding-top: 77px;
}

.skills:hover {
  color: #222B56;
  text-shadow: 5px 8px #D69510;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding-top: 77px;
  transition-duration: 1s;
}
