.coloration-back-5 {
  background-color:#602a28;
}

.main-skills {
  position: relative;
  margin-top: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #fcf6f0;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.skills:hover {
  color: #fcf6f0;
  text-shadow: 5px 8px #fcf6f082;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition-duration: 1s;
}

.cadre-skills {
  padding-left: 15px;
  width: 100px;
  height: 30px;
  box-shadow: -2px 2px 1px -1px rgb(143, 142, 142);
}

.all-skills {
  border-radius: 2px;
  background-color: #f2eae3;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  position: relative;
}
.all-skills > div {
  margin: 5px;
}

.logo-card {
    width: 200px;
    height: 152px;
    border-radius: 10px;
    background-color: #fcf6f0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logo-card > h4 {
  color: #959292
}

/* logo Ruby */
.image-rognage-ruby {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 128px;
  height: 105px;
  overflow: hidden;
}
.ruby-logo {
  width: 84%;
  position: absolute;
  left: 8%;
  top: 0%;
}

/* logo Rails */
.image-rognage-rails {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 188px;
  height: 107px;
  overflow: hidden;
}
.rails-logo {
  width: 100%;
  position: absolute;
  left: -1%;
  top: -11%;
}

/* logo HTML */
.image-rognage-html {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.html-logo {
  width: 97%;
  position: absolute;
  left: 2%;
  top: -24%;
}

/* logo CSS */
.image-rognage-css {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.css-logo {
  width: 97%;
  position: absolute;
  left: 2%;
  top: -24%;
}

/* logo JS */
.image-rognage-js {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.js-logo {
  width: 97%;
  position: absolute;
  left: 2%;
  top: -24%;
}

/* logo SASS */
.image-rognage-sass {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 188px;
  height: 107px;
  overflow: hidden;
}
.sass-logo {
  width: 95%;
  position: absolute;
  left: 3%;
  top: 0%;
}

/* logo Bootstrap */
.image-rognage-bootstrap {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.bootstrap-logo {
  width: 169%;
  position: absolute;
  left: -34%;
  top: -50%;
}

/* logo Figma */
.image-rognage-figma {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.figma-logo {
  width: 91%;
  position: absolute;
  left: 4.5%;
  top: -6.5%;
}

/* logo Photoshop */
.image-rognage-photoshop {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.photoshop-logo {
  width: 80%;
  position: absolute;
  left: 10%;
  top: -0.5%;
}

/* logo Illustrator */
.image-rognage-illustrator {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 121px;
  height: 95px;
  overflow: hidden;
}
.illustrator-logo {
  width: 94%;
  position: absolute;
  left: 3%;
  top: -9.5%;
}

/* logo Indesign */
.image-rognage-indesign {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 149px;
    height: 95px;
    overflow: hidden;
}
.indesign-logo {
    width: 98%;
    position: absolute;
    left: 1%;
    top: -23%;
}
